/* feller alle siden */


    /* felles med alle sinene */

/* *{    max-width: 1200px
    } */

    
#grid-container{ 
    display: grid;
    grid-template-areas: "header" 
                        "main" 
                        "footer"; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    color: black;
    font-size: 15px;

}

header{
    display: flex;
 flex-direction: column;
 justify-content: center;
 

}


#logo{

    font-size: 40px;
    font-style: inherit;
}
#søkefelt{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: baseline;

    
}
#søk{
    display: flex;
    padding: 1rem;
    font-size: 24px;
    background-color: #fff;
    
}
#search{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}


#pasonlig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 40px;
}


nav ul{
    list-style: none;
    margin: 1rem;
    padding: 1rem;
}



nav ul li{
    margin: 1rem;
    padding: 1rem;
}

h1, h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;

}


a{
    color: #000;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
}

h3{
    font-size: 28px;
}


.produktkort{
    display: flex;
    flex: content;
    max-width: 350px;
    padding: 1rem;
    justify-content: flex-end;
}

.produktkort img{
    width: 80%;
    margin: 1rem;
    border-radius: 15px;

}


footer{
    display: flex;
    flex-direction: column;
    border-style: solid hidden hidden hidden ;
    border-color: #999999;
    margin: 1rem;
    justify-content: center;
}



b{
    padding: 1rem;
}

#kontakt{
    align-items: baseline;
}
    


footer nav ul li{
    display: flex;
    flex-direction: row;
}

/* første side */

h1{
    font-size: 45px;
}
 
#banner{
    /* sette inn bilde */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-image: url();  */
    background-color: #e0dbdb;
    padding: 1rem;
    margin: 1rem;
    text-align: end;
    border-radius: 15px;

}


#pakke{
    display: flex;
    justify-content: flex-end;
    background-color: #ffffffbb;
    padding: 1rem  1rem 1rem 0rem;
    width: 50%;
    border-radius: 10px;
    text-align: end;

}

.populær{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#valg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alternativ{
    
    border: solid;
    margin: 1rem;
    border-radius: 10px;
    
}

#produktområde{
    display: flex;
    flex-wrap: wrap;
    

}


.Category{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: solid;
    border: #000;
}

#Category1{

    background-image: url(../bilder/sko.jpg);

}
#Category2{

    background-image: url(../bilder/cactus.jpg);

}
#Category3{
    background-image: url(../bilder/slips.jpg);

}

#Category4{

    background-image: url(../bilder/spillkontron.jpg);
}

#Category5{

    background-image: url(../bilder/stol.jpg);
}

#Anmeldelser{
    display: grid;
    justify-content: center;
}

.review{
    border: solid;
    border-color: #999999;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    max-width: 289px;

}

.review img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 1rem;
}

/* produktsiden */

#fotspor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#fotspor li a{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}


#produkt{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
}

#produkt img{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
    border-radius: 15px;
}



.omprodukt{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}



.produktvalg{
    display: flex;
    flex-direction: column;
}

.size{
    display: flex;
    background-color: #999999;
    padding: 1rem;
    margin: 1rem;
    flex-grow: 3;
}

#kurv{
    display: flex;
    background-color: #000; 
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    
}

#hjærte{
    display: flex;
    padding: 1rem;
    border: solid;
    margin: 1rem;
    align-items: center;
    justify-content: center;

}

#merke{
    text-decoration: underline;
    border: hidden hidden solid;
    
}


/* handlesiden */

#Shoppingbagen{
display: flex;
flex-direction: column;

}

.kassen{
    display: flex;
    flex-direction: column;

    border: solid;
    border-color: #999999;
    padding: 1rem;
    margin: 1rem;

}

#valgt{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: solid;
    border-color: #999999;
}
.opplysninge{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
}

#ikon{
    display: flex;
    gap: 20px;
    margin: 1rem;
    font-size: 25px;
    flex-direction: row;

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.grå{

    padding: 0rem 1rem 0rem;
    
    }


input{
    font-size: 24px;
    margin: 1rem;
    padding: 2rem;
}

#Fullfør{
    width: 90%;
    margin: 1rem;
    
}

#lager{
    background-color: #999999;
    color: #fff;
    font-size: 25px;
    padding: 1rem;
    width: 40%;
    margin: 1rem;
}

#betal{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pris{
    font-size: 40px;
    font-style: italic;
}



/* til pc */

@media only screen and (min-width: 600px ){
    /* felles med alle sinene */


#grid-container{ 
    display: grid;
    grid-template-areas: "header header header " 
                        " . main . " 
                        "footer footer footer "; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
}


.uner{
    width: 100%;

}

header{
    grid-area: header;
    flex-direction: row;
    justify-content: space-around;
}

#søkefelt{
    display: flex;

}

#search {
    font-size: 15px;
}

#søk{
    font-size: 20px;
    padding: 0.8rem;
}

header ul{
    display: flex;
    flex-direction: row;
    

}
header ul li{
    padding: 0;
    align-items: baseline;

}


#pasonlig{
    flex-direction: row;
    font-size: 20px;

}

main{
grid-area: main;
justify-content: center;


}
/* forsiden */

.Category{
    margin: 0;
    padding: 2rem 1rem 2rem 1rem;
} 
 
#bok{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 1rem ;

}



#Category1{
    width: 30%;

}
#Category2{
    width: 25%;

}
#Category3{
    width: 30%;

}

#Category4{
    width: 60%;
}

#Category5{
    width: 30%;
}

#Anmeldelser{
    display: flex;
    flex-wrap: wrap;
}




.produktkort{
    max-width:  30%;
}

/* produtsiden */
#produkt{
    display: flex;
    flex-direction: row;
    gap: 10rem;

}

#produkt section{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}
#produkt img{
    margin: 2px;
}

#hovedbilde{
    display: flex;
    flex-grow: 2;
    width: 100%;
    margin: 0;

}

#små1{
    width: 160px;
    flex-grow: 1;

}
#små2{
    width: 160px;
    flex-grow: 1;

}
#små3{
    width: 160px;
    flex-grow: 1;

}


#produktvalg{
    display: flex;
    flex-direction: row;
}

#kurv{
width: 50%;  
font-size: 25px;

}

#hjærtskje{
    width: 30%;
    font-size: 25px;


}


#Lignende{
    display: flex;
    flex-wrap: wrap;
}
/* kasse */

#Shoppingbagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kassen{
    display: flex;
    flex-direction: column;
    }


#ikon{
    display: flex;
    gap: 20px;
    margin: 1rem;
    font-size: 25px;
    flex-direction: column;

}

.valgt{
    display: flex;
    flex-direction: row;
    

}

.opplysninge{
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
}


.skjema{
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-around;
}




.hal{
    width: 400px;
}
.hel{
    width: 1000px;
}

.avhuking{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}



#vitprokter{
    display: flex;
    justify-content: space-between;
}




footer{
    grid-area: footer;
}

footer p{
    text-align: center;
    margin: 1rem;
}

footer section{
    display: flex;
    flex-direction: column;
}

#bunn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sosialermeder{
    display: flex;
    flex-direction: row;
    font-size: 24px;

}

#Kontakt li{
    align-items: baseline;
    padding: 0;
}

footer nav ul li {
    margin: 0;
}



}

