/* feller alle siden */
body{
    font-family: Arial, Helvetica, sans-serif;

    color: black;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    
}

header{
 flex-direction: column;
 justify-content: center;
 
 


}


#logo{

    font-size: 40px;
    font-style: inherit;
}
#søkefelt{
    display: flex;
    flex-direction: row;
    margin: 1rem;
 
 align-items: baseline;

    
}
#søk{
    display: flex;
    padding: 1rem;
    font-size: 24px;
    background-color: #fff;
    
}
#search{
    background-color: #fff;
    padding: 1rem;
    margin: ;
    border-radius: 10px;
}


#pasonlig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    font-size: 40px;
}


nav ul{
    list-style: none;
    margin: 1rem;
    padding: 1rem;
}



nav ul li{
    margin: 1rem;
    padding: 1rem;
}

h1, h2 {
    display: flex;
    justify-content: center;
    text-align: center;

}


a{
    color: #000;
    text-decoration: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

h3{
    font-size: 28px;
}


.produktkort{
    display: flex;
    flex: content;
    

    
    margin: 1rem;
    padding: 1rem;
    justify-content: flex-end;
}

.produktkort img{
    width: 80%;
    margin: 1rem;
    border-radius: 15px;

}


footer{
    display: flex;
    flex-direction: column;
    border-style: solid hidden hidden hidden ;
    border-color: #999999;
    margin: 1rem;
}

/* rette på ikonene?  gap */

b{
    padding: 1rem;
}

#kontakt{
    align-items: baseline;
}
    


footer nav ul li{
    display: flex;
    flex-direction: row;
}

/* første side */

h1{
    font-size: 45px;
}
 
#banner{
    /* sette inn bilde */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: ;
    background-color: #e0dbdb;
    padding: 1rem;
    margin: 1rem;
    text-align: end;
    border-radius: 15px;

}


#pakke{
    display: flex;
    justify-content: flex-end;
    background-color: #ffffffbb;
    padding: 1rem  1rem 1rem 0rem;
    width: 50%;
    border-radius: 10px;
    text-align: end;

}


#valg{
    display: flex;
    flex-direction: row;

}

.alternativ{
    
    border: solid;
    margin: 1rem;
    border-radius: 10px;
    
}

#produktområde{
    display: flex;
    flex-wrap: wrap;
}

#kategorier{
    list-style: none;
    gap: 1rem;

}

.Category{
    display: flex;
    justify-content: center;

    border: solid;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.review{
    border: solid, #999999;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;

}

.review img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 1rem;
    

}

/* produktsiden */

#fotspor{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#fotspor li a{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}


#produkt{
    margin: 2rem;
    
}

#produkt img{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
    width: 90%;
    border-radius: 15px;
}

#omprodukt{
    padding: 1rem;
}

#merke{
    text-decoration: underline;
    border: hidden hidden solid hidden;
    

}

/* handlesiden */
form {
    display: flex;
    flex-direction: column;

}

label input{
    font-size: 24px;
    margin: 1rem;
    padding: 2rem;
}

#lager{
    background-color: #999999;
    color: #fff;
    font-size: 25px;
    padding: 1rem;
    width: 40%;
    margin: 1rem;
}







